# Central de Viagens ASCOM — Variáveis de Ambiente
SECRET_KEY=sua_chave_secreta_django_aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3
VALIDACAO_API_TOKEN=seu_token_secreto_aqui
